:root{
    --bs-primary: green;
    --color-principal: #4115b8;
    --color-secundario: #fb00ff;
}
*{
    font-family: 'Roboto', sans-serif;
}
a{
    color: var(--color-principal);
}
a:hover{
    color: var(--color-secundario);
}
h1, h2, h3, h4, h5, h6{
    text-align: center;    
    font-weight: bold;
    color: var(--color-principal);
    font-family: 'Nunito Sans', sans-serif;
}

p{
    color: rgb(24, 24, 24);
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color-principal);
    --bs-btn-border-color: var(--color-principal);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-secundario);
    --bs-btn-hover-border-color: var(--color-secundario);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-secundario);
    --bs-btn-active-border-color: var(--color-secundario);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-secundario);
    --bs-btn-disabled-border-color: var(--color-secundario);
}
.btn-outline-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--color-secundario);
    --bs-btn-bg: var(--bd-white);
    --bs-btn-border-color: var(--color-secundario);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--color-secundario);
    --bs-btn-hover-border-color: var(--color-secundario);
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg:var(--color-secundario);
    --bs-btn-active-border-color:var(--color-secundario);
}

.titulo_principal{
    font-size: 48px;
    font-weight: bold;
    color: var(--color-principal);
    font-family: 'Nunito Sans', sans-serif;
}
.titulo_secundario{
    font-size: 38px;
    font-weight: bold;
    color: var(--color-secundario);
    font-family: 'Nunito Sans', sans-serif;
}

.navbar .container .navbar-collapse{
flex-grow: 0;
}
.brand_text{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    font-weight: bold;
}.navbar-brand{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.banner_principal{
    height: 70vh;
    min-height: 400px;
    background-image: url("/img/banner-principal.jpg");
    background-position: center;
    
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.banner_container{
    height: 100%;   
    display: flex;
    align-items: center;
}
.filtro_banner_pricipal{
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, 0.656);
    padding-top: 80px;
    padding-bottom: 50px;
}
.banner_principal_logo, .banner_principal_texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.figure-img{
    margin-bottom: 0px;
}
.banner_principal_texts{
    align-items: flex-start;
}
.footer{
   background-color: var(--color-secundario); 
   
}
.footer_section_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_section_social, .footer_section{
    display: flex;
    flex-direction: column;
    
}
.footer_section_social_icons{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer_section_links .nav-link{
    color: var(--color-principal);
}

.footer_section_social_icons .bi:hover, .footer_section_links .nav-link:hover{
    color: rgb(233, 232, 232);
}
.footer_section_links{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_copy{
   background-color: rgba(255, 255, 255, 0.679); 
}
